* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.body {
    overflow-x: hidden;
}
.box {
    position: absolute;
    width: 400px;
    height: 300px;
    background-size: cover;
    animation-name: anim;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim {
    0% {
        left: 0;
        background-image: url(../images/car-yellow.png);
    }
    50% {
       left: 100%;
       background-image: url(../images/car-yellow.png);
    }
    51% {
        left: 100%;
        background-image: url(../images/car-yellow1.png);
    }
    100% {
        left: 0;
        background-image: url(../images/car-yellow1.png);
    }
}
.box1 {
    position: absolute;
    width: 400px;
    height: 300px;
    background-size: cover;
    animation-name: anim1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim1 {
    0% {
        top: 50%;
        right: 0;
        background-image: url(../images/car-red.png);
    }
    50% {
       top: 50%;
       right: 100%;
       background-image: url(../images/car-red.png);
    }
    51% {
        top: 50%;
        right: 100%;
        background-image: url(../images/car-red1.png);
    }
    100% {
        top: 50%;
        right: 0;
        background-image: url(../images/car-red1.png);
    }
}
